extends ../layouts/layout
block content
   
    div.container
        form(method="post", action="signup")
            div.form-group
                input(type='text', name='email', placeholder='Email', class='form-control')
            div.form-group
                input(type='password', name='password', placeholder='Password', class='form-control')
            div.form-group
                input(type='submit', value = 'Signup').btn.btn-primary
    if error
        div.alert.alert-danger(role='alert') #{error}
    if message
        div.alert.alert-success(role='alert') #{message}
    //- Catch actions through the form.
    //- form(method="post", action="signup")
    //-     input(type="hidden", name="_method", value="PUT")
    //-     input(type="submit", value="PUT Submit")
    //- form(method="post", action="signup")
    //-     input(type="hidden", name="_method", value="DELETE")
    //-     input(type="submit", value="DELETE Submit")
    //- form(method="post", action="signup")
    //-     input(type="hidden", name="_method", value="COPY")
    //-     input(type="submit", value="CUST Submit")

